.page {
  width: 100%;
  height: 100%;
  display: none;
}

.page.showing-page {
  display: inline-block;
}

.page .header {
  width: 100%;
  position: relative;
  top: unit(`scale(0)`,px);
  margin: 0;
  height: unit(`scale(35)`,px);
  line-height: unit(`scale(35)`,px);
  text-align: center;
  font-size: unit(`scale(14)`,px);
}

.second-layer-page .header {
  font-size: unit(`scale(24)`,px);
}

.page .content {
  /*height: 100%;*/
  position: absolute;
  margin: unit(`scale(10)`,px);
  top: unit(`scale(40)`,px);
  bottom: unit(`scale(0)`,px);
  display: block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
