@import "util.less";

.page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /*
  z-index: -100;
  */
}

.page.showing-page {
  display: inline-block;
  /*
  z-index: 0;
  */
}

.page .header {
  .disable-select;
  width: 100%;
  position: fixed;
  top: 0px;
  margin: 0;
  height: 19.444444vw;
  line-height: 8.888889vw;
  font-size: 7.222222vw;
  font-family: futura_oblique;
  /*
  z-index: -100;
  */
  display: table;
  text-align: center;
}

.page.showing-page .header{
  z-index: 1;
}

.page .header>.header-wrapper {
  //.both-center;
  height: 8.888889vw;
  display: table-cell;
  vertical-align: middle;
}

.page .header>.header-wrapper>img {
  //.vertical-center;
  //left: 1.666667vw;
  margin-left: 3vw;
  width: 8.888889vw;
  display: inline-block;
}

.page .header>.header-wrapper>.string {
  //.vertical-center;
  white-space:nowrap;
  //left: 12.777778vw;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1vw;
  /*
  right: 0px;
  text-align:center;
  */
}

#page-home .header>.header-wrapper>.string>.big {
  font-size: 7.777778vw;
  line-height: 7.777778vw;
  letter-spacing: 0.194444vw;
  height: 7.777778vw;
  width: 100%;
  .transform(0.9873, 1.0);
  margin-bottom: 1.666667vw;
}
#page-home .header>.header-wrapper>.string>.small {
  font-size: 3.888889vw;
  height: 3.333333vw;
  width: 100%;
  text-align:center;
  line-height: 3.333333vw;
  .transform(1.36, 1.0);
}

.page .content {
  width: 100%;
  position: relative;
  top: 19.444444vw;
  bottom: 0px;
  display: none;
  /*
  display: block;
  */
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background: #FFFFFF;
}
.page.showing-page .content{
  display: block;
}
