@import "util.less";

.page .header {
  background: #4575AA;
  color:white;
}

h4 {
  padding: 0px;
  margin: 0px;
  margin-bottom: unit(`scale(5)`, px);
  margin-top: unit(`scale(11)`, px);
  font-weight: bold;
  font-size: unit(`scale(11)`, px);
}

@font-face
{
  font-family: futura_oblique;
  src: url(../fonts/futura_oblique.ttf);
}

@font-face
{
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}

@font-face
{
  font-family: segoeui;
  src: url(../fonts/segoeuib.ttf);
  font-weight: bold;
}

@font-face
{
  font-family: segoeui;
  font-style: italic;
  src: url(../fonts/segoeuii.ttf);
}

@font-face
{
  font-family: segoeui;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/segoeuiz.ttf);
}

.page .content.pure-article {
  padding: unit(`scale(30)`,px) unit(`scale(15)`,px) unit(`scale(20)`,px);
  //text-align: justify;
  font-family: segoeui;
  font-size: unit(`scale(10)`,px);
  letter-spacing: unit(`scale(0.05)`,px);
}

#page-home .content {
  padding-top: unit(`scale(30)`,px);
}
#page-home .hotkey {
  position: relative;
  width: 100%;
  height: unit(`scale(30)`, px);
  background: #FFFFFF;
  margin-bottom: unit(`scale(10)`, px);
}

#page-home .hotkey.onpress {
  background: #828282;
}

#page-home .hotkey img {
  .vertical-center;
  left: unit(`scale(35.5)`, px);
  width: unit(`scale(25)`, px);
}

#page-home .hotkey .label {
  .vertical-center;
  left: unit(`scale(63.5)`, px);
  font-size: unit(`scale(12)`, px);
  font-family: futura_oblique;
  color: #000000;
}
