@import "util.less";

.page .header {
  background: #4575AA;
  color:white;
}

h4 {
  padding: 0px;
  margin: 0px;
  margin-bottom: unit(`scale(5)`, px);
  margin-top: unit(`scale(11)`, px);
  font-weight: bold;
  font-size: unit(`scale(11)`, px);
}

@font-face
{
  font-family: futura_oblique;
  src: url(../fonts/futura_oblique.ttf);
}

@font-face
{
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}

@font-face
{
  font-family: segoeui;
  src: url(../fonts/segoeuib.ttf);
  font-weight: bold;
}

@font-face
{
  font-family: segoeui;
  font-style: italic;
  src: url(../fonts/segoeuii.ttf);
}

@font-face
{
  font-family: segoeui;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/segoeuiz.ttf);
}

.page .content.pure-article {
  padding: unit(`scale(30)`,px) unit(`scale(15)`,px) unit(`scale(20)`,px);
  //text-align: justify;
  font-family: segoeui;
  font-size: unit(`scale(10)`,px);
  letter-spacing: unit(`scale(0.05)`,px);
}

#page-home .content {
  padding-top: unit(`scale(30)`,px);
}
#page-home .hotkey {
  position: relative;
  width: 100%;
  height: unit(`scale(30)`, px);
  background: #FFFFFF;
  margin-bottom: unit(`scale(10)`, px);
}

#page-home .hotkey.onpress {
  background: #828282;
}

#page-home .hotkey img {
  .vertical-center;
  left: unit(`scale(35.5)`, px);
  width: unit(`scale(25)`, px);
}

#page-home .hotkey .label {
  .vertical-center;
  left: unit(`scale(63.5)`, px);
  font-size: unit(`scale(12)`, px);
  font-family: futura_oblique;
  color: #000000;
}

#page-meet-the-team .teammember {
  height: unit(`scale(40)`, px);
  padding: unit(`scale(20/3)`, px) unit(`scale(21)`, px);
  position: relative;
  font-family: futura_oblique;
  font-size: unit(`scale(7)`, px);
}

#page-meet-the-team .teammember>img {
  float: left;
  width: unit(`scale(20)`, px);
  height: unit(`scale(80/3)`, px);
  margin-right: unit(`scale(8)`, px);
}

#page-meet-the-team .teammember>.string {
  float: left;
  position: relative;
  height: unit(`scale(80/3)`, px);
  width: unit(`scale(110)`, px);
  color: #000000;
  line-height: unit(`scale(10.2)`,px);
  vertical-align: top;
}

#page-meet-the-team .teammember>.string>.title {
}

#page-meet-the-team .teammember>.string>.name {
  color: #6B6B6B;
  position: absolute;
  bottom: 0px;
  line-height: unit(`scale(7)`,px);
}

#page-meet-the-team .teammember>.name {
  color: #6B6B6B;
  position: absolute;
  bottom: unit(`scale(20/3)`, px);
  left: unit(`scale(49)`, px);
  line-height: unit(`scale(7)`,px);
}
