.page .header {
  background: #4575AA;
  color:white;
}

h4 {
  padding: 0px;
  margin: 0px;
  margin-bottom: unit(`scale(5)`, px);
  font-weight: bold;
  font-size: unit(`scale(11)`, px);
}

@font-face
{
  font-family: futura_oblique;
  src: url(../fonts/futura_oblique.ttf);
}

@font-face
{
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}

@font-face
{
  font-family: segoeui;
  src: url(../fonts/segoeuib.ttf);
  font-weight: bold;
}

@font-face
{
  font-family: segoeui;
  font-style: italic;
  src: url(../fonts/segoeuii.ttf);
}

@font-face
{
  font-family: segoeui;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/segoeuiz.ttf);
}
