.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sb-content {
  height: 100%;
  width:100%;
  position: fixed;
  left:0;
  background:#FFFFFF;
  z-index: 0;
}

.sb-sidebar {
  left: unit(`scale(-163)`,px);
  width: unit(`scale(163)`, px);
  height: 100%;
  position: fixed;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  transition: all 0.3s ease 0s;
  color:white;
}

#wrapper.sb-active .sb-sidebar {
  left: 0px;
  transition: all 0.3s ease 0s;
}

#wrapper.sb-active .sb-content {
  background: #DADBDD;
  transition: all 0.3s ease 0s;
}
.menu-toggle {
  margin: unit(`scale(5)`,px);
  height: unit(`scale(20)`,px);
  width: unit(`scale(20)`,px);
  display: inline-block;
  background:url(../icons/menu.png) center no-repeat;
  position: absolute;
  left:0px
}

.sb-sidebar .sidebar-header {
  position: relative;
}

.sb-sidebar .homepage {
  width: unit(`scale(150)`,px);
  height: unit(`scale(40)`,px);
  background: #454756;
}

.sb-sidebar .homepage>* {
  .vertical-center;
}
.sb-sidebar .hide-sidebar {
  width: unit(`scale(13)`,px);
  height: unit(`scale(25)`,px);
  background: #FF0000;
  position: absolute;
  left: unit(`scale(150)`,px);
  bottom: 0px;
}

.sb-sidebar .yellow-line {
  width: unit(`scale(163)`,px);
  height: unit(`scale(1)`,px);
  background: #E6E75D;
}

.sb-sidebar .groups-wrapper {
  position: absolute;
  width: unit(`scale(150)`,px);
  height: auto;
  top: unit(`scale(41)`,px);
  left: 0px;
  right: 0px;
  bottom: 0px;
  
}

.sb-sidebar .groups {
  width: unit(`scale(150)`,px);
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.sb-sidebar .group-title {
  background: #383C47;
  height: unit(`scale(33)`,px);
  width: unit(`scale(150)`,px);
  position: relative;
}

.sb-sidebar .group-title>img {
  .vertical-center;
  width: unit(`scale(10)`,px);
  left: unit(`scale(11)`,px);
}

.sb-sidebar .group-title>.string {
  .vertical-center;
  left: unit(`scale(40)`,px);
}

.sb-sidebar .group-item {
  background: #454756;
  height: unit(`scale(16.5)`,px);
  width: unit(`scale(150)`,px);
  position: relative;
}

.sb-sidebar .group-item>img {
  .vertical-center;
  width: unit(`scale(8)`,px);
  left: unit(`scale(38)`,px);
}

.sb-sidebar .group-item>.string {
  .vertical-center;
  left: unit(`scale(50)`,px);
}
